<header>
  <div class="contenedor">
    <a [routerLink]="['/inicio']">
      <div class="logo">
        <h1><i class="fa fa-camera" aria-hidden="true"></i></h1>
        <h2>ViveLagunaVista</h2>
      </div>
    </a>
    <input type="checkbox" id="menu-bar">
    <label for="menu-bar"><i class="fa fa-bars hamburguer" aria-hidden="true"></i></label>
    <nav class="menu">
      <a [routerLink]="['/login']"><i class="fa fa-user" aria-hidden="true"></i>Login</a>
      <a [routerLink]="['/inicio']"><i class="fa fa-home" aria-hidden="true"></i>Inicio</a>
      <a [routerLink]="['/dosdormitorios']"><i class="fa fa-circle-o" aria-hidden="true"></i>2 Dormitorios</a>
      <a [routerLink]="['/tresdormitorios']"><i class="fa fa-circle-o" aria-hidden="true"></i>3 Dormitorios</a>
      <a [routerLink]="['/contacto']"><i class="fa fa-envelope-o" aria-hidden="true"></i>Contacto</a>
    </nav>
  </div>
</header>
